<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <%- include head %>
    <!-- <style media="screen">
      .row {
        line-height: 30px;
        border-bottom: 1px solid gray;
      }
      .row>span {
        display: inline-block;
        border-right: 1px solid gray;
        text-align: center;
      }
      .row>span:nth-child(1) {
        width: 50px;
      }
      .row>span:nth-child(2) {
        width: 150px;
      }
      .row>span:nth-child(3) {
        width: 100px;
      }
      .row>span:nth-child(4) {
        width: 150px;
      }
      .pages a {
        display: inline-block;
        padding: 10px 10px;
      }
    </style> -->
  </head>
  <body>

    <%- include('bar', {username: username}) %>

    <div class="list">
      <% data.list.map(function(ele, index) {%>
        <div class="row">
          <span><%= index+1 %></span>
          <span><%= ele.username %></span>
          <span><a href="/article/detail?time=<%= ele.time %>"><%= ele.title %></a></span>
          <span><%= ele.timeZH %></span>
          <span>
            <a href="/article/writing?time=<%= ele.time %>">编辑</a>
            <a href="/article/delete?time=<%= ele.time %>">删除</a>
          </span>
        </div>
      <%})%>

      <div class='pages'>
        <% for(let i=1; i<=data.total; i++) {%>
          <a href="?page=<%=i%>"><%= i %></a>
        <%}%>
      </div>
    </div>


  </body>
</html>
