<!DOCTYPE html>
<html lang="en">

<head>
  <title>写文章</title>
  <%- include head %>


</head>

<body>

  <%- include('bar', {username: username}) %>

  <div class="article">
    <form class="" action="/article/publish" method="post">
      <input type="hidden" name="time" value="<%= item.time %>">
      <input type="text" name='title' value="<%= item.title %>" placeholder="请输入文章标题">
      <textarea class="xheditor" name="content"><%- item.content %></textarea>
      <% if (item.time) { %>
        <input type="submit" value="修改">
      <% } else { %>
        <input type="submit" value="发布">
      <% } %>
    </form>
  </div>



  <script src="/javascripts/xheditor-1.2.2/jquery/jquery-1.4.4.min.js"></script>
  <script src="/javascripts/xheditor-1.2.2/xheditor-1.2.2.min.js"></script>
  <script src="/javascripts/xheditor-1.2.2/xheditor_lang/zh-cn.js"></script>
  <script>
    // $.extend(XHEDITOR.settings, {shortcuts:{'ctrl+enter': submitForm}})
    $('.xheditor').xheditor({
      tools: 'full',
      skin: 'default',
      html5Upload: false,
      upMultiple: '1',
      upImgUrl: '/article/upload',
      upImgExt: 'jpg,jpeg,gif,png',
    });
    function submitForm() {
      $('#frmDemo').submit()
    }
    // function insertUpload(arrMsg) {
    //   console.log(arrMsg)
    //   // return
    //   var i, msg
    //   for (i = 0; i < arrMsg.length; i++) {
    //     msg = arrMsg[i]
    //     $("#uploadList").append('<option value="'+msg.id+'">'+msg.localname+'</option>')
    //   }
    // }
  </script>


</body>

</html>
